html{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;

    }

img{
        width: 200px;
        border-radius: 50%;

    }

body{
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 50px;
        padding-bottom: 50px;

    }

p {

        text-align: justify;

    }

h1 {

        color: blue;
        font-size: 48px;

    }